aws_region        = "ap-northeast-2"
aws_profile       = "본인의 AWS 프로필 (지정안했으면 default)"
state_bucket_name = "fundit-tfstate-team6"

common_tags = {
  Project   = "Fundit"
  Team      = "Team6"
  ManagedBy = "Terraform"
}
