project_name        = "fundit"
environment         = "dev"
cluster_version     = "1.35"
node_instance_types = ["t3.medium"]
desired_size        = 2
min_size            = 2
max_size            = 4

common_tags = {
  Project   = "Fundit"
  Team      = "Team6"
  ManagedBy = "Terraform"
}
